@{
    ViewData["Title"] = "Seu Banco";
}

<div class="text-center">
    <h1 class="display-4">Lista de Trade</h1>
    <p><a href="https://localhost:44377/Trade"> Clique Aqui</a> para retornar a lista de trade.</p>
</div>
